
body{
    background-color: aquamarine;
    background-image: url(a%20-%20Copy.jpg);
    background-size: cover;
    
}

nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 26px;
  text-decoration: none;
}
.box{
    width: 1000px;
    padding-left: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
        
